
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;   
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: green;
    color: black
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 9%;
    background-color: rgb(133, 125, 125);
    height: 70px;
   
}
.logo i{
/* vertical-align: middle; */
color: palevioletred;
font-size: 39px;
/* margin-right: 5px;  */
}

.navbar{
    display: flex;
    justify-content: center;
}


.navbar a{
    color: white;
    font-size: 21px;
    font-weight: 600;
    margin:  25px;
    text-decoration: none;
    transition: all ease .55s;
    

}
.navbar a:hover{
    color: aquamarine;
}
.navbar a.active{
    color:  palevioletred;
}
/* .h-main{
    display: flex;
    align-items: center;
} */
 /* .h-btn{
    display: inline-block;
    padding: 10px 25px;
    color: whitesmoke;
    background-color: palevioletred;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px ;
    border: 2px solid palevioletred;
    margin-right: 20px;
    transition: all ease .55s;
} */

/* .h-btn:hover{
    background: transparent; 
    background: lightblue;
    border:3px solid blueviolet;
    color: black;
}  */


.foot-panel1 {
    /* background-color: grey; */
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }
  
  .foot-panel2 {
    padding: 20px;
    background-color: grey;
    color: black;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  ul {
    margin-top: 20px;
  }
  
  ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: bla;
  }
  
  .foot-panel3 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  
  
  
  .foot-panel4 {
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
      justify-content: center;
      align-items: center; */
  }
  
  .pages {
    padding-top: 25px;
  
  }
  
  .copy-right {
    padding-top: 3px;
  }
  