*{
    margin: 3px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{ 
    height: 100vh;
    width: 100%;
    background:wheat;
    background-size: cover;
  
} 
header{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #C0683E;
}
header .navbaar{
    
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbaar .logo{
    
    font-size:2.1rem;
    font-weight:600;
}
/* .navbaar .logo span{
    color: red;
} */
.navbaar .navbaar2{
    
    display: flex;
    gap: 40px;
}
.navbaar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.navbaar a:hover{
    color: palegreen;
}
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hero .content{
    color:black;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
.hero .content h1{
    font-size: 3rem;
    max-width: 600px;
}
.hero .content p{
    font-weight: 300;
    margin-top: 10px;
    max-width: 600px;
}
.hero .content button{
    background: white;
    outline: none;
    margin-top: 10px;
    font-size: 1rem; 
    padding: 9px 9px;
     border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}
.hero .content button:hover{
    background:#C0683E;
    color: white;
}
.img5{
    height: 400px;
    margin-bottom: -20px;
   
}
.img3{
    margin-left: -231px;
    margin-top: -200px;
    
}
.images{
    display: flex;
    justify-items: center;
    overflow-x: hidden;
}

.images img{
    height: 300px;
    width: 300px;
    margin:20px ;
}
.images2{
    display: flex;
    justify-items: center;
    overflow-x: hidden;
   
}
.images2 img{
    height: 300px;
    width: 300px;
    margin:20px ;
    
}
.footer3{
    background-color: #C0683E;
    margin-top: 50px;
}
.footer3 .footer-col{
    color: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 60px;  
    
} 
.footer3 .footer-col li{
    list-style: none;
    margin-top: 10px;

}
.footer3 .footer-col li a{
  color: black;
 
}
.footer3 .footer-col i{
    color: black;
}

 
/* =====================ABOUT PAGE CSS===================================== */
 
.box1{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
    
}
.box2{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
}
.box3{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
}

